<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="thumbnail">
            <img class="img-responsive" src="{{pet.pet_picture}}">
            <div>
                <h4>Pet Name: {{pet.pet_name}}</h4>
                <h4>Pet Type: {{pet.pet_type}}</h4>
                <h4>Pet Breed: {{pet.pet_breed}}</h4>
                <h4>Pet Weight: {{pet.pet_weight}}</h4>
                <h4>Pet Diet: {{pet.pet_diet}}</h4>
                <h4>Pet Medications: {{pet.medications}}</h4>
                <h4>Special Needs: {{pet.special_needs}}</h4>
            </div>
        </div>
    </div>
</div>